/* body {
    background-color: lightgrey;
    color: blue;

    text-align: left;
} */

.first_div {
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

p {
    background-color: yellow;
    vertical-align: baseline;

    direction: rtl;
    unicode-bidi: bidi-override;


    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-decoration: underline red double 5px;

    text-decoration: underline;


    text-transform: uppercase;



    text-indent: 50px;
    letter-spacing: 5px;
    line-height: 0.8;
    word-spacing: 10px;
    white-space: nowrap;


    text-shadow: 2px 2px 5px red;

    /* neon */
    text-shadow: 0 0 3px #ff0000;

    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;


    /* font */
    font-family: "Times New Roman", Times, serif;

    font-style: normal;

    font-weight: normal;

    font-variant: normal;

    font-size: 40px;

    visibility: hidden;

    display: block;

    background-size: cover;
}

a {
    text-decoration: none;
}